
venv/
*.pyc
*.pyo
__pycache__/
*.swp

build/
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.ncb
*.sdf
*.idb
*.pdb
*.VC.db
cmake-build-debug/
CMakeLists.txt.user

models/
checkpoints/
*.onnx
*.pth
*.pt
*.h5
*.tflite
*.ckpt
*.tar.gz

logs/
*.log
*.csv
*.tsv

.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project


.DS_Store
Thumbs.db
desktop.ini

.src/
.speech/
learning.py

temp.wav
output.wav