openai-whisper
faster-whisper
edge-tts
pyaudio
numpy
pandas
torch
transformers
fastapi
uvicorn
opencv-python
mediapipe
google-generativeai
beautifulsoup4
requests
googlesearch-python
pyautogui
screeninfo
onnxruntime
pybind11
cmake
ninja
